aside.menu-area {
    background-color: #222c35;
    box-shadow:
    2px 0 10px 0 rgba(0, 0, 0, 0.12),
    2px 0 10px 0 rgba(0, 0, 0, 0.09);
}

.menu a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    padding: 15px;
}

.menu a:hover {
    background: linear-gradient(90deg, rgba(9,121,12,1) 0%, rgba(0,255,99,1) 100%);
}